%h1=t "activerecord.models.profile"

.well
  = link_to edit_user_registration_path, :class => "btn btn-danger" do
    %i.icon-lock.icon-white
    = t ".change_password"

.well.profile.edit

  = semantic_form_for @profile, :url => user_profile_path(@user), :html => { :multipart => true } do |f|
    .row
      = f.inputs do 
        .span5
          = f.input :venue
          = f.input :street
          = f.input :city
          = f.input :country, :as => :string
          - autofill = @profile.timezone ? nil : 'autofill'
          = f.input :timezone, :as => :time_zone, :input_html => { :class => "timezone #{autofill}" }
          = f.input :postcode
          = f.input :cookstars, :as => :select, :collection => 1..5
        .span5
          %span.avatar
            - if @profile.avatar.file?
              = image_tag @profile.avatar.expiring_url(120, :medium)
            - else
              = image_tag "chef.jpg"
            = f.input :avatar
    .row
      .span11
        = f.buttons
