:markdown
  #{t ".comment_by"} : '#{@comment.user.name}'
  #{t ".for_event"}
  #{link_to @commentable.name, @commentable}

%p -----------------------------------------------------------
%p= simple_format h(@comment.body)
%p -----------------------------------------------------------
