:markdown

  #{@event.name}

  #{@event.description}

  #{@event.format_date} #{@invitation.event.format_time}

%hl
:markdown
  Comment By : '#{@comment.user.name}'
%hl
%hl

= simple_format h(@comment.body)

%hl
%hl

= link_to "Goto event", event_url(@invitation.event)
