= widget_div do
  %section#guests{'data-subnav-label' => t("event.edit.menu.guests")}

    %h2= t "invitation.guests"
    
    .well

      %ul.guests
        - @event.invitations.includes(:event).each do |invitation|
          = render( { :state => :invitation }, invitation)

      %hr


      - if can?(:register_any_email_for_event, @event) 

        %section#invite{'data-subnav-label' => '+'}

          = semantic_form_for :invite, :remote => true, :url => url_for_event(:register_any_email_for_event) , :html => { class: "form-stacked invite-guest" } do |f|
            = f.inputs do
              = render :view => :email_typeahead, :locals => { :form => f }
            = f.buttons do
              = f.commit_button

      - elsif can?(:register_non_existing_user_for_event, @event) 

        %section#invite{'data-subnav-label' => '+'}

          = semantic_form_for :invite, :remote => true, :url => url_for_event(:register_non_existing_user_for_event) , :html => { class: "form-stacked invite-guest" } do |f|
            = f.inputs do
              = render :view => :email_typeahead, :locals => { :form => f }
            = f.buttons do
              = f.commit_button


      - elsif can? :register_current_user_for_event, @event

        %section#invite{'data-subnav-label' => '+'}

          = semantic_form_for :invite, :remote => true, :url => url_for_event(:register_current_user_for_event) , :html => { class: "form-stacked invite-guest" } do |f|
            = f.buttons do
              = f.commit_button

