- content_for :scripts do
  = javascript_include_tag "http://a.vimeocdn.com/js/froogaloop2.min.js"

.home
  .row
    .span12
      .teaser
        %a(data-toggle="modal" data-target="#teaser-wrapper" href="#")
          = image_tag "front_image_block_teaser.png"


  -# Note all the below columns are made the same height
  -# with some js and css magic.

  .row
    .span3
      .well
        = image_tag "cook.jpg"
        :markdown
          # Cook

          Tis an ill cook that cannot lick his own fingers.
        %small
          %i William Shakespeare

    .span3
      .well
        = image_tag "chat.jpg"
        :markdown
          # Chat

          Unquiet meals make ill digestions.
        %small
          %i William Shakespeare

    .span3
      .well
        = image_tag "eat.jpg"
        :markdown
          # Eat

          What say you to a piece of meat and mustard?
        %small
          %i William Shakespeare

    .span3
      .well
        = image_tag "drink.jpg"
        :markdown
          # Drink

          I drink to the general joy o' the whole table.
        %small
          %i William Shakespeare

  .row
    .span12
      .well
        :markdown
          The OPENKITCHEN will help you to organize and find events where you
          can **cook**, **chat**, **eat** and **drink** whilst in the company
          of creative, genuine people who realize that there is so much more to
          being social than just sharing data.

          We want you to meet new people, spill some wine together, break a few
          eggs, whip up a noodle salad or blaze down a plate of chilli fried
          pork.  Do it together. Do it slow or do it fast. Make friends that
          will last.  Join us and you will never look back.

          All that being said you can still find us on
          [facebook](http://www.facebook.com/openkitchen.at)


  #teaser-wrapper.modal.hide.fade(data-video=@video)
    .modal-body
    .modal-footer
      #fb-root
      %script{:src => "http://connect.facebook.net/en_US/all.js#appId=128707317209423&xfbml=1"}
      %fb:like{:colorscheme => "dark", :font => "", :href => "www.openkitchen.at", :send => "false", :show_faces => "true", :width => "450"}

