- @event = _event

.edit_event
  = semantic_form_for @event do |f|
    .row
      .span4
        - disabled = cannot? :edit, @event
        = render :partial => "form", :locals => { :f => f, :event => @event, :disabled => disabled }
      .span7
        - if can? :edit, @event
          = f.input :description, :as => :text
        - else
          = simple_format h(@event.description)
    .row
      .span11
        = render :partial => "map", :locals => { :mapping_data => @mapping_data }




          

