- @event = _event

.edit_event
  %h2 Details
  = semantic_form_for @event do |f|
    = f.inputs do
      - disabled = { :disabled => ( cannot? :edit, @event ) }
      = f.input :name, :input_html => disabled
      = f.input :datetime, :label => "Date", :as => :string, :input_html => { :class => :datepicker, :value => @event.datetime.strftime(Date::DATE_FORMATS[:default]) }.merge(disabled)
      = f.input :timezone, :as => :time_zone, :input_html => disabled
      = f.input :street, :as => :string, :input_html => disabled
      = f.input :city, :as => :string, :input_html => disabled
      = f.input :country, :as => :string, :input_html => disabled
      
    -if can? :edit, @event
      = f.buttons
    -if @event.latitude and @event.longitude
      = render :partial => "map", :locals => { :mapping_data => @mapping_data }

