- @event = event
= f.inputs do
  = f.input :name



  -if @event.venue
    - hint = link_to(Venue.model_name.human, edit_venue_path(@event.venue), 'data-popup' => true)
  -else
    - hint = nil
  = f.input :venue, :collection => current_user.venues, :hint => hint
  = f.input :public
    


  -# Manually rolling this as formtastic-bootstrap just
  -# puts text fields in here which is not what I want.
  -# TODO extract the code into a helper
    
  %fieldset.datetime.control-group
    %label(for="event_datetime")=t "attributes.datetime"
    .controls
      .controls
        .date
          = f.date_select :datetime,  :use_short_month => true, :start_year => Time.zone.now.year, :order => [:day, :month, :year]
        .time
          = f.time_select :datetime, 
            :ignore_date => true, 
            :ampm => true,
            :minute_step => 15

  - autofill = @event.timezone ? nil : 'autofill'
  = f.input :timezone, :as => :time_zone, :input_html => { :class => "timezone #{autofill}" }

= f.buttons
