
- @event = _event

- if can? :edit, @event

  .well

    %h2=t "invitation.invite_a_guest"

    = semantic_form_for :invite, :url => invite_event_path(@event) , :html => { class: "form-stacked invite-guest" } do |f|
      = f.inputs do
        = email_typeahead f
      = f.buttons do
        = f.commit_button
