- if @event.invited? current_user
  %span#invitation_status
    =t(".change_status_header")


    %a.btn{'data-toggle'=>"modal", :class=>@invitation.status, :href=>"#change_invitation_status"}=t(".#{@invitation.status}")

    .modal.hide.fade.in#change_invitation_status
      .modal-header
        %a.close(data-dismiss="modal") x
        = t(".change_status_header")
      .modal-body
        .btn-group
          - Invitation::STATUSES.each do |status|
            - unless status == "pending"
              - unless @invitation.status == status
                = link_to t(".#{status}"), invitation_url(@invitation, :redirect_to => request.path, :invitation => { :status => status } ), :class => "btn #{status}", :method => :put 



