.well
  = render :partial => 'edit', :locals => { _event: @event }

= render :partial => 'invite_guests', :locals => { _event: @event }

.well
  = render :partial => 'guests', :locals => { _event: @event }

.well
  = render_widget :comments
  %a(name="comments")

.well
  = render :partial => 'catering', :locals => { _event: @event }

