.event_title_box
  - if @event.owner == current_user
    %h1="You are hosting `#{@event.name}`"
  - else
    %h1="You are invited to `#{@event.name}`"
      

= render :partial => 'edit', :locals => { _event: @event }

= render :partial => 'invitation', :locals => { _event: @event }

= render :partial => 'guests', :locals => { _event: @event }

= render :partial => 'things_to_bring', :locals => { _event: @event }

