- content_for :subnav_header do
  %h1.autofont=@event.name.capitalize

- content_for :subnav_items do
  %li
    = link_to t("show"), event_path(@event)

#edit_event_page
  .sections
    = render :partial => 'edit', :locals => { _event: @event }

    %section#venues_show_photos{'data-subnav-label'=>t(".photos")}
      %h1=t(".photos")
      = render_widget :event_images

    .row-fluid
      .span6
        = render_widget :event_guests

      .span6
        = render_widget :comments
