%h1 Edit Event

= semantic_form_for @event do |f|
  = f.inputs do
    = f.input :name
    = f.input :datetime, :label => "Date", :as => :string, :input_html => { :class => :datepicker, :value => @event.datetime.strftime(Date::DATE_FORMATS[:default])}
    = f.input :timezone, :as => :time_zone
  = f.buttons


= semantic_form_for :invite, :url => invite_event_path(@event) do |f|
  = f.inputs do
    = f.input :email, :as => :email, :input_html => { :value => "" }
  = f.buttons


%h2 Guests
%ul
  - @event.invitations.each do |invitation|
    %li
      %b.label.notice(style = "margin-right: 2em")
        = invitation.user.email
      %i
        =token_invitations_url(:id => invitation.token)


%h2 Things To Bring
= semantic_form_for :new_resource, :url => resources_path do |f|
  = f.inputs do
    = f.input :suggest_something, :input_html => { :value => "", :placeholder=>"10 bread sticks" }
    = f.input :event_id, :as => :hidden, :label => false, :input_html => {:value => @event.id }
  = f.buttons do
    = f.commit_button :label => "Create Item"


- @event.resources.each do |resource|
  - if @invitation
    = render :partial => "resources/resource", :locals => { resource: resource }
  - else
    %p="#{resource.name} #{resource.quantity_produced}/#{resource.quantity} #{resource.units}"
