.event_title_box
  %p
    = image_tag "bbq.jpeg"
    = image_tag "shapes-icon.jpeg"
    = image_tag "jim_beam.jpeg"
  - if @event.owner == current_user
    %h1
      ="You are hosting `#{@event.name}`"
  - else
    %h1="You are invited to `#{@event.name}`"
    %p
      :markdown
        Hosted by **#{@event.owner.email}**
        on **#{@event.format_date}**

  - if @invitation.pending? or @invitation.maybe? or @invitation.rejected?
    = render :partial => "invitation_status_button", :locals => { _invitation: @invitation, _label: "I'm coming!", _status: "accepted" }
  - if @invitation.accepted?
    = render :partial => "invitation_status_button", :locals => { _invitation: @invitation, _label: "Sorry. I'm not coming.", _status: "rejected" }


= render :partial => 'edit', :locals => { _event: @event }

.guests
  = render :partial => 'invite_guests', :locals => { _event: @event }

  = render :partial => 'guests', :locals => { _event: @event }

= render :partial => 'things_to_bring', :locals => { _event: @event }

