- content_for :subnav_header do

  %h1=t "activerecord.models.event", :count => 2

.index_events

  %section#events_im_hosting.well{'data-subnav-label'=> t(".hostings")}
    %h2
      .avatar
        - if current_user.profile.avatar.file?
          = image_tag current_user.profile.avatar.expiring_url(120, :thumb)
        - else
          = image_tag "chef.jpg"
      =t ".hostings_title"
    %ul
      - @events_as_owner.each do |event|
        %li
          .row
            .span3
              .name
                = link_to event.name, edit_event_path(event.id)
              .date
                = event.format_date
                = event.format_time
                %a.ical{:href=>ical_event_path(event)}
                  %small
                    %i.icon-calendar
                    iCal
            .span8
              .description
                = event.description


    - if can? :create, Event
      = link_to t(".new"), new_event_url 
    - else
      %a.popover-trigger{:href=>"#", 'data-title' => t(".new_disabled"), 'data-content' => t('.new_disabled_content') }
        = t(".new")

  %section#events_im_invited_to.well{'data-subnav-label'=> t(".invitations")}

    %h2=t ".invitations_title"
    %ul.unstyled
      - @events_as_guest.each do |event|
        %li
          .row
            .img.span1
              .avatar
                - if event.owner.profile.avatar.file?
                  = image_tag event.owner.profile.avatar.expiring_url(120, :thumb)
                - else
                  = image_tag "chef.jpg"

            .name.span3
              = link_to event.name, event_path(event.id)
            .date.span2
              = event.format_date
              %a{:href=>ical_event_path(event)}
                %small
                  %i.icon-calendar
                  iCal
            .time.span2
              = event.format_time
          .row.description
            .span10
              = event.description


