- content_for :subnav_header do

  %h1.autofont=t "activerecord.models.event", :count => 2

.index_events

  %section#events_im_hosting{'data-subnav-label'=> t(".hostings")}

    %h1
      .avatar
        - if current_user.avatar.file?
          = image_tag current_user.avatar.expiring_url(s3_expiry, :medium)
        - else
          = image_tag "chef.jpg"
      =t ".hostings_title"

    .well
      %ul
        - @events_as_owner.each do |event|
          %li
            .row
              .span3
                .name
                  %h2.event_name= link_to event.name, edit_event_path(event.id)
                .date
                  = event.format_date
                  = event.format_time
                  %a.ical{:href=>ical_event_path(event)}
                    %small
                      %i.icon-calendar
                      iCal
              .span8
                .description
                  = event.description


      - if can? :create, Event
        = link_to t(".new"), new_event_url, :class => "btn btn-large btn-warning"
      - else
        %a.popover-trigger{:href=>"#", 'data-title' => t(".new_disabled"), 'data-content' => t('.new_disabled_content') }
          = t(".new")

  %section#events_im_invited_to{'data-subnav-label'=> t(".invitations")}

    %h2=t ".invitations_title"

    .well
      %ul.unstyled
        - @events_as_guest.each do |event|
          %li
            .row-fluid

              .span4
                .img

                  %h2.event_name= link_to event.name, event_path(event.id)

                  .avatar
                    - if event.owner.avatar.file?
                      = image_tag event.owner.avatar.expiring_url(s3_expiry, :medium)
                    - else
                      = image_tag "chef.jpg"

              .span8

                .row-fluid

                  .span12

                    .datetime
                      = event.format_date
                      = event.format_time
                      %a{:href=>ical_event_path(event)}
                        %small
                          %i.icon-calendar
                          iCal
                .row-fluid
                  .span12

                    .description
                      = event.description


  -if @public_events
    %section#public_events{'data-subnav-label'=> t(".public")}
      %h1=t(".public_events")
      .well
        %span 
          %strong Within
        .btn-toolbar
          %span.btn-group
            %a.btn.dropdown-toggle(data-toggle="dropdown" href="#")
              =@radius
              km
              %span.caret
            %ul.dropdown-menu
              - [5, 10, 50, 100, 200, 500, 1000, 2000, 5000].each do |km|
                %li
                  %a{:href=>events_url(:radius=>km)}
                    =km
                    km
        %span of
        %span=@address.address

        %ul.unstyled
          - @public_events.each do |event|
            %li
              .row-fluid

                .span4
                  .img

                    %h2.event_name= link_to event.name, event_path(event.id)

                    .avatar
                      - if event.owner.avatar.file?
                        = image_tag event.owner.avatar.expiring_url(s3_expiry, :medium)
                      - else
                        = image_tag "chef.jpg"

                .span8

                  .row-fluid

                    .span12

                      .datetime
                        = event.format_date
                        = event.format_time
                        %a{:href=>ical_event_path(event)}
                          %small
                            %i.icon-calendar
                            iCal

                      %hr

                      %address.address
                        %strong=event.venue.name
                        %br
                        =event.venue.street
                        %br
                        =event.venue.city
                        %br
                        =event.venue.country
                        %br
                        =event.venue.postcode

                  .row-fluid
                    .span12

                      .description
                        = event.description
