.index_events
  .well
    %h1 Welcome to your events
    - if can? :create, Event
      = link_to t("Create New Event"), new_event_url 
    - else
      %a.popover-trigger(href="#" 
        data-title="Event Creation Disabled" 
        data-content='Please complete registration to create events') 
        = t("Create New Event")


  .well
    %h2
      .avatar
        - if current_user.profile.avatar.file?
          = image_tag current_user.profile.avatar.expiring_url(120, :thumb)
        - else
          = image_tag "chef.jpg"
      I am hosting
    %ul.unstyled
      - @events_as_owner.each do |event|
        %li
          .row
            .span3
              .name
                = link_to event.name, edit_event_path(event.id)
              .date
                = event.format_date
                = event.format_time
                %a.ical{:href=>ical_event_path(event)}
                  %small
                    %i.icon-calendar
                    iCal
            .span8
              .description
                = event.description


  .well
    %h2 I am invited to
    %ul.unstyled
      - @events_as_guest.each do |event|
        %li
          .row
            .img.span1
              .avatar
                - if event.owner.profile.avatar.file?
                  = image_tag event.owner.profile.avatar.expiring_url(120, :thumb)
                - else
                  = image_tag "chef.jpg"

            .name.span3
              = link_to event.name, edit_event_path(event.id)
            .date.span2
              = event.format_date
              %a{:href=>ical_event_path(event)}
                %small
                  %i.icon-calendar
                  iCal
            .time.span2
              = event.format_time
          .row.description
            .span10
              = event.description


