- content_for :subnav_header do

  %h1.autofont(data-min-font-size=20 data-max-font-size=50)
    = profile_avatar_image @event.owner, :thumb
    =@event.name.capitalize

- content_for :subnav_header2 do
  %h2.autofont(data-min-font-size=20 data-max-font-size=50)
    =link_to @event.owner.name, :url => user_profile_path(@event.owner)
    =link_to "@ #{@event.venue.name}", @event.venue

-if can? :edit, @event
  - content_for :subnav_items do
    %li
      = link_to t("edit"), edit_event_path(@event)


#show_event_page

  .sections

    %section.edit_event#edit{'data-subnav-label' => Event.human_attribute_name(:description)}

      %h1

        %span.datetime
          %a.ical{:href=>ical_event_path(@event), :title => "iCal"}
            = @event.format_date
            = @event.format_time

      .description
        - vi = @event.venue.venue_images.first
        - if vi
          = image_tag vi.attachment.expiring_url(s3_expiry, :small)

      %p= @event.description

      %hr

      = render :partial => 'status'

      .clearfix

      %br

    = render :partial => "venues/address"


    .row-fluid
      .span6
        = render_widget :event_guests

      .span6
        = render_widget :comments
