- content_for :subnav_header do

  %h1.autofont=@event.name.capitalize
  %h2
    =link_to @event.owner.name, :url => user_profile_path(@event.owner)
    @
    =link_to @event.venue.name, @event.venue

#show_event_page

  .sections

    %section.edit_event#edit{'data-subnav-label' => Event.human_attribute_name(:description)}

      %h1

        %span.datetime
          %a.ical{:href=>ical_event_path(@event), :title => "iCal"}
            = @event.format_date
            = @event.format_time
      .well

        .description
          - vi = @event.venue.venue_images.first
          - if vi
            = image_tag vi.image.expiring_url(s3_expiry, :small)

          %p= @event.description

        %hr

        = render :partial => 'status'

        .clearfix

    = render :partial => "venues/address"


    .row-fluid
      .span6
        = render_widget :event_guests

      .span6
        = render_widget :comments
