- content_for :subnav_header do
  %h1.autofont= Venue.model_name.human

-if can? :show, @venue
  - content_for :subnav_items do
    %li
      = link_to t("show"), venue_path(@venue)

#page_venues_edit

  %section#venues_show_address{'data-subnav-label'=>t(".address")}

    %h1=t(".address")

    = semantic_form_for @venue, :multipart => true do |f|
      = f.inputs do
        .row-fluid
          .span5
            = f.input :name
            - autofill = @venue.timezone ? nil : 'autofill'
            = f.input :timezone, :as => :time_zone, :input_html => { :class => "timezone #{autofill}" }
            = f.input :street
            = f.input :city
            = f.input :country, :as => :string
            = f.input :postcode
          .span5
            = f.input :description
      = f.actions

  %section#venues_show_map{'data-subnav-label'=>t(".map")}

    %h1=t(".map")

    = render :partial => "events/map"

  %section#venues_show_photos{'data-subnav-label'=>t(".photos")}

    = render :partial => "carousel"
