#page_venues_edit
  %h1= Venue.model_name.human

  .well
    = semantic_form_for @venue, :multipart => true do |f|
      = f.inputs do
        = f.input :name
        - autofill = @venue.timezone ? nil : 'autofill'
        = f.input :timezone, :as => :time_zone, :input_html => { :class => "timezone #{autofill}" }
        = f.input :street
        = f.input :city
        = f.input :country, :as => :string
        = f.input :postcode
      = f.actions

  .well
    = render :partial => "events/map"

  .well
    = semantic_form_for @venue.venue_images.build do |f|
      = f.inputs do
        = f.input :venue_id, :as => :hidden
        = f.input :image, :as => :file 
      = f.actions

    = render :partial => "carousel"



