:markdown
  # #{@host.email} has invited you to an OPENKITCHEN event

  #{@invitation.event.name}

  #{@invitation.event.description}

  #{@invitation.event.format_date} #{@invitation.event.format_time}

= link_to "Goto invitation", token_invitations_url(:id => @invitation.token), :id => "invitation_link"
