:markdown
  #{t ".header", :host => @host.name }

  #{@invitation.event.name}

  #{@invitation.event.description}

  #{@invitation.event.format_date} #{@invitation.event.format_time}

= link_to t(".goto_invitation"), token_invitations_url(:id => @invitation.token), :id => "invitation_link"
