= widget_div do
  %section.comments#comments{'data-subnav-label' => t("event.edit.menu.comments")}
    %h2= Comment.model_name.human :count => 2
    .well

      = render({:state => :list}, @comments)


      - if can? :comment_on, @event
        %section.new#comments_enter{'data-subnav-label' => '@', 'data-offset' => -200 }
          = semantic_form_for Comment.build_from(@event, current_user, ""), :url => url_for_event(:comment), :remote => true do |f|
            .form
              = f.inputs do
                = f.input :commentable_id, :as => :hidden
                = f.input :commentable_type, :as => :hidden
                = f.input :body, :label => false
              = f.actions do
                = f.action :submit, :as => :button, :label => t("comment.submit")
                = render :view => :comment_button
