= widget_div do

  .comments
    %h2 Discussion
    = render({:state => :list}, @comments)

    .new
      = semantic_form_for Comment.build_from(@event, current_user, ""), :url => url_for_event(:comment), :remote => true do |f|
        .form
          = f.inputs do
            = f.input :commentable_id, :as => :hidden
            = f.input :commentable_type, :as => :hidden
            = f.input :body, :label => false
          = f.actions do
            = f.action :submit, :as => :button, :label => "comment"
