.resource{:id=>"resource_#{resource.id}"}
  - resource_producer = ResourceProducer.new
  - resource_producer.resource = resource
  - resource_producer.invitation = @invitation
  = semantic_form_for resource_producer, :remote => true, :html => { :class => "new_resource" , :id => "new_resource_#{resource.id}"} do |f|
    .pledge_summary
      %h3
        = link_to "#{resource.quantity_produced}", resource
        of
        ="#{resource.quantity} #{resource.name}"
      .amounts
        %p="I will bring #{resource.quantity_produced_by @invitation}"
      = f.inputs do 
        = f.input :resource_id, :as => :hidden, :label => false
        = f.input :invitation_id, :as => :hidden, :label => false
        - [-5, -1, 1, 5].each do |quantity|
          = render :partial => "resources/pledge_button" , :locals => { _resource: resource , _quantity: quantity , _form: f , _invitation: @invitation}

