= widget_div do

  = link_to "Refresh", 
    url_for_event('refresh', :radius => @radius), 
    :remote => true, 
    :"data-href-geolocate"=>true, 
    :"data-trigger-on-geolocate"=>true,
    :class => "hide"

  -if @public_events
    %section#public_events{'data-subnav-label'=> t(".public")}
      %h1=t(".public_events")
      .well
        %span 
          %strong Within
        .btn-toolbar
          %span.btn-group
            %a.btn.dropdown-toggle(data-toggle="dropdown" href="#")
              =@radius
              km
              %span.caret
            %ul.dropdown-menu
              - [5, 10, 50, 100, 200, 500, 1000, 2000, 5000].each do |km|
                %li
                  %a{:href=>events_url(:radius=>km), :'data-href-geolocate'=>"true"}
                  = link_to url_for_event('refresh', :radius => km), 
                      :remote => true, 
                      :"data-href-geolocate"=>true, 
                      :class => "hide" do
                    =km
                    km
        %span of
        %span=@address.address

        %ul.unstyled
          - @public_events.each do |event|
            %li
              .row-fluid

                .span4
                  .img

                    %h2.event_name= link_to event.name, event_path(event.id)

                    .avatar
                      - if event.owner.avatar.file?
                        = image_tag event.owner.avatar.expiring_url(s3_expiry, :medium)
                      - else
                        = image_tag "chef.jpg"

                .span8

                  .row-fluid

                    .span12

                      .datetime
                        = event.format_date
                        = event.format_time
                        %a{:href=>ical_event_path(event)}
                          %small
                            %i.icon-calendar
                            iCal

                      %hr

                      %address.address
                        %strong=event.venue.name
                        %br
                        =event.venue.street
                        %br
                        =event.venue.city
                        %br
                        =event.venue.country
                        %br
                        =event.venue.postcode

                  .row-fluid
                    .span12

                      .description
                        = event.description
