!!!
%html
  %head
    %title Open Kitchen
    = javascript_include_tag "http://a.vimeocdn.com/js/froogaloop2.min.js"
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
    <meta name="viewport" content="width=320"> 

  %body
    .navbar.navbar-fixed-top(data-scrollspy="scrollspy")
      .navbar-inner
        .container
          =link_to "", root_path, :class=>"brand"
          %ul.nav
            -if user_signed_in?
              %li=link_to "Events", events_path
              -if current_user.registration_completed?
                %li=link_to "Account", edit_user_registration_path
              -else
                %li#complete_registration=button_to "Complete Registration", users_register_path, :method => :post
            -else
              %li.sign_in=link_to "Sign in", new_user_session_path
              %li.sign_up=link_to "Sign up", new_user_registration_path
    

    #page
      .container
        .row
          .content.span12
            = render :partial=> 'common/flashes'
            = yield
  %footer
    = yield :scripts
