!!!
%html
  %head
    %title Open Kitchen
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
    <meta name="viewport" content="width=320"> 

  %body
    .navbar.navbar-fixed-top(data-scrollspy="scrollspy")
      .navbar-inner
        .container
          =link_to "Open Kitchen", root_path, :class=>"brand"
          %ul.nav
            -if user_signed_in?
              %li=link_to "Events", events_path
              %li=link_to "Account", edit_user_registration_path
            -else
              %li.btn.info=link_to "Authenticate", new_user_session_path
    

    #page(style="padding-top:40px")
      .container
        .row
          .content.span8
            = render :partial=> 'common/flashes'
            = yield
          .sidebar.span4
            %h2 This is a sidebar

            %p
              Sed ut perspiciatis unde omnis iste natus error sit voluptatem
              accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
              quae ab illo inventore veritatis et quasi architecto beatae vitae
              dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
              aspernatur aut odit aut fugit, sed quia consequuntur magni dolores
              eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam
              est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci
              velit, sed quia non numquam eius modi tempora incidunt ut labore et
              dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam,
              quis nostrum exercitationem ullam corporis suscipit laboriosam,
              nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure
              reprehenderit qui in ea voluptate velit esse quam nihil molestiae
              consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla
              pariatur?
