!!!
%html
  %head
    %title Open Kitchen
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
    <meta name="viewport" content="width=320"> 

  %body
    .topbar(data-scrollspy="scrollspy")
      .topbar-inner
        .container
          =link_to "Open Kitchen", root_path, :class=>"brand"
          %ul.nav
            -if user_signed_in?
              %li=link_to "Events", events_path
              %li=link_to "Account", edit_user_registration_path
            -else
              %li.btn.info=link_to "Authenticate", new_user_session_path
    

    #page(style="padding-top:40px")
      .content
        = render :partial=> 'common/flashes'
        = yield
