!!!
%html
  %head
    %title Open Kitchen
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = yield :scripts
    = csrf_meta_tags
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.btn.btn-navbar(data-toggle="collapse" data-target=".nav-collapse")
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar

          =link_to "", root_path, :class=>"brand"

          .nav-collapse
            %ul.nav
              -if user_signed_in?
                %li
                  = link_to events_path do
                    %i.icon-time.icon-white
                    Events
                  
                -if current_user.registration_completed?
                  %li
                    = link_to edit_user_profile_path(current_user) do
                      %i.icon-info-sign.icon-white
                      Profile

                -else
                  %li#complete_registration=button_to "Complete Registration", users_register_path, :method => :post
                %li
                  = link_to destroy_user_session_path, :method => :delete do
                    %i.icon-off.icon-white
                    Sign Out

              -else
                %li.sign_in
                  =link_to new_user_session_path do
                    %i.icon-lock.icon-white
                    = t "devise.links.sign_in"
                %li.sign_up
                  = link_to new_user_registration_path do
                    %i.icon-lock.icon-white
                    = t "devise.links.sign_up"

              %li.dropdown
                %a.dropdown-toggle(href="#" data-toggle="dropdown")
                  %i.icon-flag.icon-white
                %ul.dropdown-menu
                  %li
                    = link_to "en", url_for(:locale=>"en")
                  %li
                    = link_to "de", url_for(:locale=>"de")

              = yield :navigation
    

    #page
      .content
        .container
          = render :partial=> 'common/flashes'
          - if content_for? :content
            = yield :content
          - else
            = yield
  %footer
    = yield :scripts
