!!!
%html
  %head
    %title Open Kitchen
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
    <meta name="viewport" content="width=320"> 

  %body
    .navbar.navbar-fixed-top(data-scrollspy="scrollspy")
      .navbar-inner
        .container
          =link_to "", root_path, :class=>"brand"
          %ul.nav
            -if user_signed_in?
              %li=link_to "Events", events_path
              %li=link_to "Sign out", destroy_user_session_path, :method => :delete
            -else
              %li=link_to "Sign in", new_user_session_path
              %li=link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook)
              
    

    #page
      .container
        .row
          .content.span6.offset3
            = render :partial=> 'common/flashes'
            .devise.well
              = yield
